.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  color: #fff;
  height: 60px;
  padding: 0 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: .5s;
}

.header a {
  color: #fff;
  margin-right: 20px;
}

.header a:hover {
  color: #fff;
}
.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.logo {
  /* color: red; */
  font-size: 20px;
  text-transform: uppercase;
  width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
  display: block;
  width: 100%;
  transition: .7s;
}

.logo a {
  color: #fff;
}
.logoMenu{
  display: none;
}

@media (max-width: 768px) {
  .show{
    display: block;
    width: 100%;
    text-align: center;
  }
  .hide{
    width: 100%;
    display: none;

  }

  .header {
    flex-direction: column;
    height: auto;
    align-items: start;

  }

  .header ul {
    margin: 20px 0;
    flex-direction: column;
    text-align: center;
  }

  .header a {
    margin-right: 0;
  }

  .logo {
    width: 100%;
    margin: 20px 0;
  }
  .logoMenu{
    display: block;
  
  }
}
