.news {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
  padding: 13px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  background-color: #EFF2F3;
  border-radius: 5px;
}

.img {
  width: 20%;
  height: 20vh;
  margin: 10px;
  position: relative;
}

.info {
  flex: 2;
  color: black;
}

@media (max-width: 600px) {
  .img{
  width: 100%;

  }
  .news {
    flex-direction: column;
    text-align: center;
  }
  .info {
    margin-bottom: 20px;
  }
}
