.news {
    position: relative;
    padding-top: 40px;
}

.img {
  width: 100%;
  height: 400px;
  /* margin: 10px; */
  position: relative;
}

.news h3 {
    font-size: 25px;
}
.heightimg{
    height: 500px;
}

.news p {
    margin: 10px 0;
}

.image {
    width:300px;
    height:300px;    
    overflow:hidden;
    margin-bottom: 20px;
}

.controls {
    position: absolute;
    right: 30px;
    top: 0;
}

.delete {
    margin-left: 20px;
    color: red;
}